<app-navbar></app-navbar>
<div class="card">

    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img [src]="pokemon.sprites.normal" alt=" Placeholder image ">
                </figure>
            </div>
            <div class="media-content ">
                <p class="title is-4 " id="name">{{pokemon.name}}</p>
                <span class="tag is-primary" *ngIf="checkFavorite">Favorite</span>
                <br>
                <p class="subtitle is-6 ">#{{pokemon.id}}</p>
            </div>
        </div>

        <div class="content ">
            <p>
                <strong>Height: </strong>{{pokemon.height}} <br>
                <strong>Weight: </strong>{{pokemon.weight}}
            </p>
        </div>
    </div>
</div>