<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="https://m.media-amazon.com/images/M/MV5BZjUyOTJlZmMtMzVkNS00MTNkLTk5ZTAtOTEzNWMwNmNiY2MyXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_.jpg" alt="Placeholder image" style="height: 100%; width: 100%; object-fit: cover" />
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://pbs.twimg.com/profile_images/3092373536/e098e6697407e50cca45d4e52a13de0e.jpeg" alt="Placeholder image" />
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">Dr. John A. Zoidberg</p>
                <p class="subtitle is-6">@zoidbergj</p>
            </div>
        </div>

        <div class="content">
            I Don't Like The Look Of This Doctor... I Bet I've Lost More Patients Than He's Treated
            <a>@drhouse</a>.
            <br />
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
</div>