<div class="field">
    <div class="label">Produkt</div>
    <select name="" id="" #select>
        <option></option>
        <option *ngFor="let product of products" id="{{product.Id}}">{{product.Name}} ({{product.Brand}},{{product.Size}})</option>
    </select>
</div>
<div class="label">Aantal stuks</div>
<div class="field">
    <input class="input" type="number" value="1" #num>
</div>
<div class="field">
    <button class="button" (click)="Add(+select.selectedOptions[0].id,+num.value)">Voeg toe</button>
</div>
<div class="notification is-primary" *ngIf="showNotification">
    <strong>{{select.selectedOptions[0].text.split("(")[0] }}</strong> werd toegevoegd aan het lijstje
</div>