<main>

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <app-tile1>
                        </app-tile1>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <app-tile2></app-tile2>
                    </article>
                </div>
                <div class="tile is-parent">
                    <app-tile3></app-tile3>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger" id="tile4">
                    <app-tile4></app-tile4>
                </article>
            </div>
        </div>
        <div class="tile is-parent">

            <app-tile5></app-tile5>

        </div>
    </div>


</main>